mlflow.db
mlartifacts/
mlruns/
models/
outputs/
data/train_phase1.csv
data/eval.csv
data/train_phase2.csv
sa-key.json
.env
.venv/
__pycache__/
*.pyc
.DS_Store
mlops-key.pem
s3-policy.json
.pytest_cache/
*.log
